parameters:
    level: 8
    paths:
        - %rootDir%/src/

    excludePaths:
        # Test dependencies
        - 'tests/Application/**/*'

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
