{% if data.number is not null %}
    <a href="{{ path('sylius_admin_order_show', {'id' : data.id })|raw }}">#{{ data.number }}</a>
{% else %}
    <span class="ui label">{{ 'sylius.ui.cart' | trans }}</span>
{% endif %}
