<h4 class="ui dividing header">{{ 'monsieurbiz_shipping_slot.ui.shipping_slot_config'|trans }}</h4>
<div id="shipping_slot_config">
    <div class="ui icon info message">
        <i class="info circle icon"></i>
        <div class="content">
            {{ 'monsieurbiz_shipping_slot.ui.use_shipping_slot_configuration' | trans }}
        </div>
    </div>
    {{ form_row(form.shippingSlotConfigs) }}
</div>
