
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'monsieurbiz_shipping_slot.ui.shipping_slot_config'|trans }}</h4>
    <div id="shipping_slot_config">
        {{ form_row(form.preparationDelay) }}
    </div>
</div>
